@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
@import '~@fortawesome/fontawesome-free/css/all.css';

html {
    scroll-behavior: smooth;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Roboto', sans-serif;
}

p, a, span {
    font-family: 'Montserrat', sans-serif;
}

::selection{
    color: white;
    background-color: #5799fe;
}
