<footer>
    <div class="mt-16 border-t-2 border-black flex flex-col items-center">
        <div class="sm:w-2/3 text-center py-6">
            <p class="text-sm text-black-700 font-bold mb-2">
                SnowTricks © 2021 par Mathias Micheli
            </p>
            <a class="text-sm text-black-700 font-bold mb-2 hover:text-blue-500 hover:underline"
               href="{{ path('snowtricks_administration') }}">
                Administration
            </a>
        </div>
    </div>
</footer>